
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="menu-inner-wrap">
			<div class="menu-wrap">
				<div class="menu-title js-btn-tgl">Сервис и поддержка</div>
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Как заказать (дозаказы и отмены)</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Наши организаторы СП</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Сотрудничество</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Оплата и взаиморасчеты</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Доставка</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Возврат и обмен</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Статьи организатором СП</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Наши поставщики</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="menu-wrap">
				<div class="menu-title js-btn-tgl">О компании</div>
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">О нас</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Контакты</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Пользовательское соглашение </div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Политика конфиденциальности </div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Правообладатели </div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="buttons-inner-wrap">
			<div class="button-wrap">
				<a href="" class="btn-app">
					<img src="./img/main/app-google.svg" alt="">
				</a>
			</div>
			<div class="button-wrap">
				<a href="" class="btn-app">
					<img src="./img/main/app-apple.svg" alt="">
				</a>
			</div>
		</div>
		<div class="info-inner-wrap">
			<div class="info-wrap">
				<p>©2023 «<b>Sadovod.city</b>». Все права защищены. Садовод сити  не&nbsp;является официальным сайтом TK «Садовод».  <br>Не используйте свои учетные данные от других сайтов.</p>
			</div>
			<div class="desc-wrap">
				<p>ИП ЛЕОНОВ ВИКТОР ИГОРЕВИЧ <br>ИНН 632146992061 / ОГРНИП 321631200097</p>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc01.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc02.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc03.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc04.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

<!--mobile-panel-box-->
<div class="mobile-panel-box cnt-section">
	<div class="inner-wrap">
		<ul class="menu">
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/mobile-home.svg" alt="">
					</div>
					<div class="button-title">Главная</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu js-button-catalog">
					<div class="button-ico">
						<img src="./img/icons/mobile-catalog.svg" alt="">
					</div>
					<div class="button-title">Каталог</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/mobile-cart.svg" alt="">
					</div>
					<div class="button-title">Корзина</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/mobile-fav.svg" alt="">
					</div>
					<div class="button-title">Избранное</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu js-button-profile">
					<div class="button-ico">
						<img src="./img/icons/mobile-user.svg" alt="">
					</div>
					<div class="button-title">Профиль</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<!--/mobile-panel-box-->