
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="menu-inner-wrap">
			<div class="menu-wrap">
				<div class="menu-title js-btn-tgl">Сервис и поддержка</div>
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Как заказать (дозаказы и отмены)</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Наши организаторы СП</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Сотрудничество</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Оплата и взаиморасчеты</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Доставка</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Возврат и обмен</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Статьи организатором СП</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Наши поставщики</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="menu-wrap">
				<div class="menu-title js-btn-tgl">О компании</div>
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">О нас</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Контакты</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Пользовательское соглашение </div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Политика конфиденциальности </div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Правообладатели </div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="buttons-inner-wrap">
			<div class="button-wrap">
				<a href="" class="btn-app">
					<img src="./img/main/app-google.svg" alt="">
				</a>
			</div>
			<div class="button-wrap">
				<a href="" class="btn-app">
					<img src="./img/main/app-apple.svg" alt="">
				</a>
			</div>
		</div>
		<div class="info-inner-wrap">
			<div class="info-wrap">
				<p>©2023 «<b>Sadovod.city</b>». Все права защищены. Садовод сити  не&nbsp;является официальным сайтом TK «Садовод».  <br>Не используйте свои учетные данные от других сайтов.</p>
			</div>
			<div class="desc-wrap">
				<p>ИП ЛЕОНОВ ВИКТОР ИГОРЕВИЧ <br>ИНН 632146992061 / ОГРНИП 321631200097</p>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc01.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc02.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc03.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc04.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

<!--mobile-panel-box-->
<div class="mobile-panel-box cnt-section">
	<div class="inner-wrap">
		<ul class="menu">
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/mobile-home.svg" alt="">
					</div>
					<div class="button-title">Главная</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu js-button-catalog">
					<div class="button-ico">
						<img src="./img/icons/mobile-catalog.svg" alt="">
					</div>
					<div class="button-title">Каталог</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/mobile-cart.svg" alt="">
					</div>
					<div class="button-title">Корзина</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu">
					<div class="button-ico">
						<img src="./img/icons/mobile-fav.svg" alt="">
					</div>
					<div class="button-title">Избранное</div>
				</a>
			</li>
			<li>
				<a href="" class="btn-menu js-button-profile">
					<div class="button-ico">
						<img src="./img/icons/mobile-user.svg" alt="">
					</div>
					<div class="button-title">Профиль</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<!--/mobile-panel-box-->


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-password">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close button-hover js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Напомнить пароль</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input" data-title="Выбор авторизации">
							<select class="form-input" required="">
								<option selected="">E-mail</option>
								<option>Phone</option>
							</select>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input" data-title="E-mail">
							<input type="email" class="form-input" value="support@mail.com">
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-submit">
						<button type="submit" class="btn">
							<div class="button-title">Восстановить пароль</div>
						</button>
					</div>
					<div class="frm-field field-action">
						<a href="" class="btn button-clear js-popup-open" data-popup="popup-auth">
							<div class="button-title button-title-border border-dashed">Вернуться обратно</div>
						</a>
					</div>
					<div class="frm-field field-info">Регистрируясь на нашем портале вы автоматически  соглашаетесь с нашей <a href="" class="link-main border-dashed">политикой конфиденциальности</a> </div>
				</div>
			</form>
		</div>
		<div class="popup-footer-wrap">
			<p>©2023 «<b>Sadovod.city</b>». Все права защищены. Садовод сити  не&nbsp;является официальным сайтом TK «Садовод». </p>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-review">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close button-hover js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Оставить отзыв</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input" data-title="Комментарий">
							<textarea class="form-input" placeholder="">Очень хорошо себя показал на грунтовых дорог и пересеченной местности, легкий и прочный, также оборудован передней амортизационной вилкой, что обеспечивает более комфортное и плавное движение на любой местности и хочу заметить механические дисковые тормоза тоже себя хорошо зарекомендовали.</textarea>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-rate">
						<div class="frm-rate-set">
							<input type="radio" name="rate-set" id="rate-set01">
							<input type="radio" name="rate-set" id="rate-set02">
							<input type="radio" name="rate-set" id="rate-set03">
							<input type="radio" name="rate-set" id="rate-set04">
							<input type="radio" name="rate-set" id="rate-set05">
							<label for="rate-set01" class="frm-rate"></label>
							<label for="rate-set02" class="frm-rate"></label>
							<label for="rate-set03" class="frm-rate"></label>
							<label for="rate-set04" class="frm-rate"></label>
							<label for="rate-set05" class="frm-rate"></label>
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-attach">
						<button type="submit" class="btn button-dashed">
							<div class="button-ico">
								<img src="./img/icons/attach.svg" alt="">
							</div>
							<div class="button-title">Прикрепить фото</div>
						</button>
					</div>
					<div class="frm-field field-submit">
						<button type="submit" class="btn">
							<div class="button-title">Отправить</div>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="popup-footer-wrap">
			<p>©2023 «<b>Sadovod.city</b>». Все права защищены. Садовод сити  не&nbsp;является официальным сайтом TK «Садовод». </p>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-city">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close button-hover js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Напомнить пароль</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input" data-title="Выбор населенного пункта">
							<select class="form-input" required="">
								<option selected="">Санкт-Петербург</option>
								<option>Санкт-Петербург</option>
								<option>Санкт-Петербург</option>
								<option>Санкт-Петербург</option>
								<option>Санкт-Петербург</option>
								<option>Санкт-Петербург</option>
							</select>
						</div>
					</div>
				</div>
				<div class="frm-field field-buttons">
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Москва</div>
					</a>
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Воронеж</div>
					</a>
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Липецк</div>
					</a>
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Благовещенск</div>
					</a>
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Екатеринбург </div>
					</a>
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Санкт-Петербург</div>
					</a>
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Новосибирск</div>
					</a>
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Нижний Новгород</div>
					</a>
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Самара</div>
					</a>
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Казань</div>
					</a>
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Белгород</div>
					</a>
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Челябинск</div>
					</a>
					<a href="" class="btn button-clear">
						<div class="button-title button-title-border border-dashed">Владивосток</div>
					</a>
				</div>
			</form>
		</div>
		<div class="popup-footer-wrap">
			<p>©2023 «<b>Sadovod.city</b>». Все права защищены. Садовод сити  не&nbsp;является официальным сайтом TK «Садовод». </p>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-size">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close button-hover js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Выберите размер</div>
		</div>
		<div class="popup-content-wrap">
			<div class="frm-popup">
				<div class="frm-row">
					<div class="frm-field field-sizes">
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize01">
							<label for="psize01">
								<div class="lbl-title">40</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize02">
							<label for="psize02">
								<div class="lbl-title">42</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize03">
							<label for="psize03">
								<div class="lbl-title">44</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize04">
							<label for="psize04">
								<div class="lbl-title">46</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize05">
							<label for="psize05">
								<div class="lbl-title">48</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize06">
							<label for="psize06">
								<div class="lbl-title">50</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize07">
							<label for="psize07">
								<div class="lbl-title">52</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize08">
							<label for="psize08">
								<div class="lbl-title">54</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize09">
							<label for="psize09">
								<div class="lbl-title">56</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize10">
							<label for="psize10">
								<div class="lbl-title">58</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize11">
							<label for="psize11">
								<div class="lbl-title">60</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize12">
							<label for="psize12">
								<div class="lbl-title">62</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize13">
							<label for="psize13">
								<div class="lbl-title">64</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize14">
							<label for="psize14">
								<div class="lbl-title">68</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize15">
							<label for="psize15">
								<div class="lbl-title">70</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize16">
							<label for="psize16">
								<div class="lbl-title">72</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize17">
							<label for="psize17">
								<div class="lbl-title">74</div>
							</label>
						</div>
						<div class="frm-select-button">
							<input type="radio" name="psize" id="psize18">
							<label for="psize18">
								<div class="lbl-title">76</div>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup-footer-wrap">
			<p>©2023 «<b>Sadovod.city</b>». Все права защищены. Садовод сити  не&nbsp;является официальным сайтом TK «Садовод». </p>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-auth">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close button-hover js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="tabs-box js-tabs-nav">
                    <ul class="menu">
                        <li>
                            <a href="" class="btn-tab active" data-tab="popup01">
                                <div class="button-title">Войти</div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="btn-tab" data-tab="popup02">
                                <div class="button-title">Регистрация</div>
                            </a>
                        </li>
                    </ul>
            </div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup js-tab-block" data-tab="popup01">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input" data-title="Выбор авторизации">
							<select class="form-input" required="">
								<option selected="">Мобильный телефон</option>
								<option>E-mail</option>
							</select>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input" data-title="Номер телефона">
							<input type="tel" class="form-input" value="+7 (925) 427-22-25">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input frm-field-password" data-title="Пароль">
							<input type="password" class="form-input" value="Москва">
							<a href="" class="btn-action-ico ico-password button-hover button-active-toggle btn-field-password js-password-toggle"></a>
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-submit">
						<button type="submit" class="btn">
							<div class="button-title">Авторизоваться</div>
						</button>
					</div>
					<div class="frm-field field-action">
						<a href="" class="btn button-clear js-popup-open" data-popup="popup-password">
							<div class="button-title button-title-border border-dashed">Забыли пароль?</div>
						</a>
					</div>
				</div>
			</form>
			<form action="/" class="frm-popup js-tab-block" data-tab="popup02">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input" data-title="Ф.И.О">
							<input type="text" class="form-input" value="Морозов Алексей Сергеевич">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input" data-title="Город">
							<select class="form-input" required="">
								<option selected="">Москва</option>
								<option selected="">Москва</option>
								<option selected="">Москва</option>
								<option selected="">Москва</option>
							</select>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input" data-title="Телефон">
							<input type="email" class="form-input" value="+7 (925) 427-22-25">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input frm-field-password" data-title="Пароль">
							<input type="password" class="form-input" value="Москва">
							<a href="" class="btn-action-ico ico-password button-hover button-active-toggle btn-field-password js-password-toggle"></a>
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-submit">
						<button type="submit" class="btn">
							<div class="button-title">Зарегистрироваться</div>
						</button>
					</div>
					<div class="frm-field field-info">Регистрируясь на нашем портале вы автоматически  соглашаетесь с нашей <a href="" class="link-main border-dashed">политикой конфиденциальности</a> </div>
				</div>
			</form>
		</div>
		<div class="popup-footer-wrap">
			<p>©2023 «<b>Sadovod.city</b>». Все права защищены. Садовод сити  не&nbsp;является официальным сайтом TK «Садовод». </p>
		</div>
	</div>
</div><!--/popup-outer-box-->